/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html { min-height:100%; }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:80%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */

#splashScreen {
    position:absolute;             /* position in the center of the screen */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    /*display:table;*/
    display:none;

    background-color:#DC8E53;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse closest-corner, #DC7E53 0%, #875733 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse closest-corner, #DC7E53 0%, #875733 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse closest-corner, #DC7E53 0%, #875733 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #DC7E53), color-stop(1, #875733));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse closest-corner, #DC7E53 0%, #875733 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse closest-corner at center, #DC7E53 0%, #875733 100%);
    background-attachment:fixed;
}

@font-face {
	font-family:"TitleFont";
	src:url("../res/font/Signarita.ttf") format("truetype");	
}

#splashScreen #title {
    font-size:24px;
    font-weight:normal;
    font-family:"TitleFont";
    color:white;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    top:50%;
    display:table-cell;
    vertical-align:middle;
}

#mainApp {
    /*display:none;*/
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#ff3300;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.ui-bar-c {
    border:0 !important;
    margin:0 !important;
    padding:0 !important;
}

.ui-navbar {
    border:0 !important;
    margin:0 !important;
    padding:0 !important; 
}

.ui-btn {
    background:#ffcc66 !important;
    border:0 !important;
    color:#ffffff !important;
    text-shadow:0 0 0!important;
    font-weight:normal !important;
    text-transform: uppercase;
    padding-left:0 !important;
    padding-right:0 !important;
    width:100% !important;
    border-bottom:3px solid white !important;
}

.ui-btn-active {
    border-bottom:3px solid red !important;
}

.itemCours {
    border-spacing: 0;
    border:1px solid #ff3300;
    background-color:#ffcc66;
    margin-left:auto;
    margin-right:auto;
    width:95%;
    overflow:auto;
    margin-bottom:2%;
    display:table;
    padding-bottom: 0;
}

.itemCours tbody {
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.itemCours .itemCoursPreview {
    padding:0 0 0 0;
    margin:0 0 0 0; 
}

.itemCours span {
    font-size:15px;
}

.itemCours .itemCoursTitleArtist {
    width:82%;
    margin-left:1%;
    padding-left:1%;
    display:table-cell;
    padding-bottom:1.5%;
    padding-top:1.5%;
    text-shadow:none !important;
}

.itemCours .itemCoursTitle {
    color:black;
    font-weight:bold;
}

.itemCours .itemCoursArtist {
    color:white;
    font-weight: normal;
}

.itemCours .itemCoursDifficulty {
    background-color:#ff3300;
    color:white;
    vertical-align:middle;
    text-align:center;
    width:18%;
    display:table-cell;
    font-size: 13px;
    padding:0 1% 0 1%;
}

.itemCours .itemCoursWhiteLine td {
    width:100%;
    padding:0 0 0 0;
    margin: 0 0 0 0;
    border:4px solid #ffffff;
}

.itemCours .coursProperties {
    display:none;
}

.pageContent {
    padding-left:0;
    padding-right:0%;
    margin-left:0;
    margin-right:0;
}

.difficultyTab {
    width:100%;
    overflow:auto;
    display:table;
    margin-bottom:2%;
    background-color: #ff3300;
    color:white;
    padding:2%;
    font-size: 15px;
}

.coursProperties {
    font-size:13px;
}

.itemCoursFavorite {
    text-align: right;
}

.itemCoursTab{
    text-align:center;
    border:1px solid white;
    background-color:white;
    border-top:1px solid #ff3300;
    border-bottom:1px solid #ff3300;
    padding-top:3px;
    padding-bottom:3px;
}
 
.itemCoursTab a {
    background-color:white;
    color:#ff3300 !important;
    font-weight: bold !important;
    font-size: 15px;
}

.itemCoursWatch{
    text-align:center;
    border:1px solid white;
    background-color:white;
    border-top:1px solid #ff3300;
    border-bottom:1px solid #ff3300;
    padding-top:3px;
    padding-bottom:3px;
}

.itemCoursWatch a {
    background-color:white;
    color:#ff3300 !important;   
    font-weight: bold !important;
    font-size: 15px;
}

.itemCoursDuration img {
    vertical-align:bottom;
}

.itemCoursDuration span {
    font-size:14px;
    text-shadow:none !important;
}

.itemCoursSpacer {
    width:100%;
    border:3px solid #ffcc66;
}

.itemCoursSpacer td {
    padding-top:1%;
}

.itemCoursGuitar {
    padding-bottom:3px;
}

.itemCoursGuitar span {
    font-size:14px;
    text-shadow:none !important; 
}

.itemCoursFavorite span {
    font-size:14px;
    text-shadow:none !important;    
}

.donateTitle {
    width:100%;
    overflow:auto;
    display:table;
    margin-bottom:2%;
    background-color: #ff3300;
    color:white;
    padding:2%;
    font-size: 15px;
}

#paypal {
    margin-top:4%;
}

.itemCoursBuy {
    text-align:center;
    border:1px solid white;
    background-color:white;
    border-top:1px solid #ff3300;
    border-bottom:1px solid #ff3300;
    padding-top:3px;
    padding-bottom:3px;
}

.itemCoursBuy a {
    background-color:white;
    color:#ff3300 !important;   
    font-weight: bold !important;
    font-size: 15px;
}